.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 35px;
  z-index: 1;
  display: flex;
  justify-content: space-between;

  /* ANIMATION */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav-black {
  background-color: #111;
}

.nav-logo {
  position: fixed;
  left: 20px;
  width: 90px;
  object-fit: contain;
}

/*.nav-avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}
*/
.nav-button {
  position: fixed;
  right: 20px;
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  background-color: rgb(255, 51, 51);
  padding-bottom: 0.5rem;
}

.nav-button:hover {
  color: rgb(255, 51, 51);
  background-color: #e6e6e6;
  transition: all 0.2s;
}
